project_id                     = "example-project"
expected_project_number        = "123456789012"
region                         = "asia-northeast3"
project                        = "inframorph"
run_subnet_cidr                = "10.60.0.0/24"
psa_prefix_length              = 20
artifact_repository_id         = "apps"
dockerhub_remote_repository_id = "dockerhub"
db_version                     = "POSTGRES_16"
db_tier                        = "db-f1-micro"
db_name                        = "app"
db_username                    = "inframorph"
db_master_password_version     = 1
db_backup_retention            = 7
deployer_service_account_email = "inframorph-deployer@example-project.iam.gserviceaccount.com"
state_bucket                   = "example-tfstate-bucket"
app_resource_prefix            = "im-"
enable_load_balancer           = false
apps_domain                    = null
